# You should copy this to nimbix.yaml, and update with your own values

username: putusernamehere
apikey: apikeygoeshere
launch_profiles:
- {name: ng0, image: ng0, type: ng0}
- {name: ng1, image: ng0, type: ng1}
- {name: ngd3, image: ngd3, type: ngd3}
- {name: ng6, image: ngd3, type: ng6}
ssh_command: '/usr/bin/xfce4-terminal --title {image} -x ssh -o StrictHostKeyChecking=no nimbix@{ip_address}'
