# You should copy this to nimbix.yaml, and update with your own values

username: putusernamehere
apikey: apikeygoeshere
type_by_instance: {}
ssh_command: '/usr/bin/xfce4-terminal --title {image} -x ssh -o StrictHostKeyChecking=no nimbix@{ip_address}'

