version: 2.1

# Checks out PyTorch and builder repo
binary_checkout: &binary_checkout
  name: Checkout pytorch/builder repo
  command: .circleci/scripts/binary_checkout.sh

binary_populate_env: &binary_populate_env
  name: Set up binary env variables
  command: .circleci/scripts/binary_populate_env.sh

# Define the jobs we want to run for this project
jobs:
  binary_linux_build:
    environment:
      BUILD_ENVIRONMENT: "manywheel 3.8m cpu devtoolset7"  
      LIBTORCH_VARIANT: ""
      ANACONDA_USER: pytorch
    docker:
      - image: "pytorch/manylinux-builder:cpu"
    resource_class: 2xlarge+
    steps:
      - checkout
      - run:
          <<: *binary_checkout
      - run:
          <<: *binary_populate_env
      - run:  
          name: "Build"
          command: |
            MEMORY_LIMIT_MAX_JOBS=18
            NUM_CPUS=$(( $(nproc) - 2 )) 
            export MAX_JOBS=${MAX_JOBS:-$(( ${NUM_CPUS} > ${MEMORY_LIMIT_MAX_JOBS} ? ${MEMORY_LIMIT_MAX_JOBS} : ${NUM_CPUS} ))}
            source manywheel/build_cpu.sh
#   test:
#     docker:
#       - image: pytorch/manylinux-builder:cpu
#     steps:
#       - checkout
#       - run:
#           name: "Test"
#           command: echo "this is the test job"

# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - binary_linux_build
#       - test
