image: t2
instance_type: ngd3
max_time_minutes: 40
shared_secret: CHANGETHIS
script: |
  cd /tmp
  rm -rf /tmp/builder
  if ! which git
  then
    sudo apt-get install -y git
  fi
  git clone https://pytorchbot:{ghtoken1}@github.com/pytorch/builder --quiet
  cd builder
  bash nimbix-bootstrap.sh {project} {commit_hash} {branch} {ghtoken2} {pyversion}
