name: Build manywheel docker images

on:
  push:
    branches:
      main
    paths:
      - .github/workflows/build-manywheel-images.yml
      - manywheel/Dockerfile
      - manywheel/Dockerfile_cxx11-abi
      - manywheel/build_docker.sh
      - 'common/*'
  pull_request:
    paths:
      - .github/workflows/build-manywheel-images.yml
      - manywheel/Dockerfile
      - manywheel/Dockerfile_cxx11-abi
      - 'common/*'
      - manywheel/build_docker.sh

env:
  DOCKER_REGISTRY: "docker.io"
  DOCKER_BUILDKIT: 1
  DOCKER_ID: ${{ secrets.DOCKER_ID }}
  DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
  WITH_PUSH: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

jobs:
  build-docker-cuda:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        cuda_version: ["12.1", "11.8", "11.7"]
    env:
      GPU_ARCH_TYPE: cuda
      GPU_ARCH_VERSION: ${{ matrix.cuda_version }}
    steps:
      - name: Checkout PyTorch builder
        uses: actions/checkout@v3
      - name: Authenticate if WITH_PUSH
        run: |
          if [[ "${WITH_PUSH}" == true ]]; then
            echo "${DOCKER_TOKEN}" | docker login -u "${DOCKER_ID}" --password-stdin
          fi
      - name: Build Docker Image
        run: |
          manywheel/build_docker.sh
  build-docker-rocm:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        rocm_version: ["5.3", "5.4.2"]
    env:
      GPU_ARCH_TYPE: rocm
      GPU_ARCH_VERSION: ${{ matrix.rocm_version }}
    steps:
      - name: Checkout PyTorch
        uses: actions/checkout@v3
      - name: Authenticate if WITH_PUSH
        run: |
          if [[ "${WITH_PUSH}" == true ]]; then
            echo "${DOCKER_TOKEN}" | docker login -u "${DOCKER_ID}" --password-stdin
          fi
      - name: Build Docker Image
        run: |
          manywheel/build_docker.sh
  build-docker-cpu:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout PyTorch
        uses: actions/checkout@v3
      - name: Authenticate if WITH_PUSH
        run: |
          if [[ "${WITH_PUSH}" == true ]]; then
            echo "${DOCKER_TOKEN}" | docker login -u "${DOCKER_ID}" --password-stdin
          fi
      - name: Build Docker Image
        run: |
          manywheel/build_docker.sh
  build-docker-cpu-cxx11-abi:
    runs-on: ubuntu-22.04
    env:
      GPU_ARCH_TYPE: cpu-cxx11-abi
    steps:
      - name: Checkout PyTorch
        uses: actions/checkout@v3
      - name: Authenticate if WITH_PUSH
        run: |
          if [[ "${WITH_PUSH}" == true ]]; then
            echo "${DOCKER_TOKEN}" | docker login -u "${DOCKER_ID}" --password-stdin
          fi
      - name: Build Docker Image
        run: |
          manywheel/build_docker.sh
