name: Validate Windows binary images

on:
  pull_request:
    paths:
      - .github/workflows/validate-release-binaries.yml
      - .github/workflows/validate-linux-binaries.yml
      - .github/workflows/validate-windows-binaries.yml
      - .github/workflows/validate-macos-binaries.yml
      - .test/smoke_test/*
  workflow_call:
    inputs:
      channel:
        description: "Channel to use (nightly, test, release, all)"
        required: true
        type: string
  workflow_dispatch:
    inputs:
      channel:
        description: "Channel to use (nightly, test, release, all)"
        required: true
        type: choice
        options:
          - release
          - nightly
          - test
          - all

jobs:
  generate-windows-conda-matrix:
    uses: pytorch/test-infra/.github/workflows/generate_binary_build_matrix.yml@main
    with:
      package-type: conda
      os: windows
      channel: ${{ inputs.channel }}
  generate-windows-wheel-matrix:
    uses: pytorch/test-infra/.github/workflows/generate_binary_build_matrix.yml@main
    with:
      package-type: wheel
      os: windows
      channel: ${{ inputs.channel }}
  generate-windows-libtorch-matrix:
    uses: pytorch/test-infra/.github/workflows/generate_binary_build_matrix.yml@main
    with:
      package-type: libtorch
      os: windows
      channel: ${{ inputs.channel }}

  validate-windows-binaries-conda:
    needs: generate-windows-conda-matrix
    strategy:
      matrix:
        ${{ fromJson(needs.generate-windows-conda-matrix.outputs.matrix) }}
      fail-fast: false
    runs-on: ${{ matrix.validation_runner }}
    steps:
      - name: Checkout PyTorch builder
        uses: actions/checkout@v2
      - name: Validate binary conda
        uses: ./.github/actions/validate-windows-binary
        with:
          gpu_arch_type: ${{ matrix.gpu_arch_type }}
          gpu_arch_ver: ${{ matrix.gpu_arch_version }}
          installation: ${{ matrix.installation }}
          python_version: ${{ matrix.python_version }}

  validate-windows-binaries-wheel:
    needs: generate-windows-wheel-matrix
    strategy:
      matrix:
        ${{ fromJson(needs.generate-windows-wheel-matrix.outputs.matrix) }}
      fail-fast: false
    runs-on: ${{ matrix.validation_runner }}
    steps:
      - name: Checkout PyTorch builder
        uses: actions/checkout@v2
      - name: Validate binary wheel
        uses: ./.github/actions/validate-windows-binary
        with:
          gpu_arch_type: ${{ matrix.gpu_arch_type }}
          gpu_arch_ver: ${{ matrix.gpu_arch_version }}
          installation: ${{ matrix.installation }}
          python_version: ${{ matrix.python_version }}

  validate-windows-libtorch-binaries:
    needs: generate-windows-libtorch-matrix
    strategy:
      matrix:
        ${{ fromJson(needs.generate-windows-libtorch-matrix.outputs.matrix) }}
      fail-fast: false
    runs-on: "windows-2019"
    env:
      PYTHON_VERSION: ${{ matrix.python_version }}
    steps:
      - name: Install pytorch and smoke test
        shell: powershell
        run: |
          $install = '${{ matrix.installation }}'
          Invoke-WebRequest -Uri $install -OutFile 'libtorch.zip'
          Expand-Archive -Force libtorch.zip .
