name: Validate MacOS ARM64 Binaries

on:
  workflow_call:
    inputs:
      channel:
        description: "Channel to use (nightly, test, release, all)"
        required: true
        type: string
      ref:
        description: 'Reference to checkout, defaults to empty'
        default: ""
        required: false
        type: string
  workflow_dispatch:
    inputs:
      channel:
        description: "Channel to use (nightly, test, release, all)"
        required: true
        type: choice
        options:
          - release
          - nightly
          - test
          - all
      ref:
        description: 'Reference to checkout, defaults to empty'
        default: ""
        required: false
        type: string

jobs:
  generate-macos-arm64-matrix:
    uses: pytorch/test-infra/.github/workflows/generate_binary_build_matrix.yml@install_instructions
    with:
      package-type: all
      os: macos-arm64
      channel: ${{ inputs.channel }}
  macos-arm64:
    needs: generate-macos-arm64-matrix
    strategy:
      matrix: ${{ fromJson(needs.generate-macos-arm64-matrix.outputs.matrix) }}
      fail-fast: false
    uses: pytorch/test-infra/.github/workflows/macos_job.yml@main
    name: ${{ matrix.build_name }}
    with:
      runner: ${{ matrix.validation_runner }}
      repository: "pytorch/builder"
      ref: ${{ inputs.ref || github.ref }}
      job-name: ${{ matrix.build_name }}
      binary-matrix: ${{ toJSON(matrix) }}
      script: |
        set -ex
        export ENV_NAME="conda-env-${{ github.run_id }}"
        export TARGET_OS="macos-arm64"
        source ./.github/scripts/validate_binaries.sh
